<article>
  <section>
    <section class="add-user">
      <input type="text" placeholder="user name" />
      <input type="text" placeholder="user age" />
      <button>add</button>
    </section>
    <section class="user-details" *ngIf="selectedUser">
      <p>User Name: <span>{{selectedUser.name}}</span></p>
      <p>User Age: <span>{{selectedUser.age}}</span></p>
    </section>
  </section>
  <section>
    <div *ngFor="let user of users" (click)="select(user)" [class.selected]="user === selectedUser">{{user.name}}</div>
  </section>
</article>
