@import url();
article {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(235, 235, 235);
}
article > section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
}
/* article > section::-webkit-scrollbar {
  display: none;
} */
/* Hide scrollbar for IE, Edge and Firefox */

article > section > .card {
    margin: 10px;
    padding: 0 16px;
    border-radius: 5px;
    width: 50%;
    font-weight: 500;
    display: flex;
    align-items: center;
}
article > section > .card > span{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
article > section > .card > span:first-child{
  margin-right: auto;
  height: 40px;
}

article > section > .card > span:nth-child(2),article > section > .card > span:nth-child(3){
  color: #00000042;
  transition: .25s ease-out;
  margin: 0 3px;
}
article > section > .card > span:nth-child(2):hover{
  color: #ff4081;
}
article > section > .card > span:nth-child(3):hover{
  color: #f44336;
}
article > section > .add-user {
    display: flex;
    flex-direction: column;
    width: 50%;
}
article > section > .add-user > input {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
}
article > section > .add-user > button {
    margin: 10px 0; 
    padding: 5px;
    border-radius: 5px;
    width: 20%;
    justify-self: flex-end;
}
article > section > .user-details {
    background-color: #f44336;
    color: #fff;
    margin-top: 150px; 
    padding: 0 25px;
    border-radius: 5px;
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article > section > .user-details > p {
    margin: 10px 0;
    font-weight: 500;
}
.selected{
  border-left: 5px solid #ff4081;
  width: calc(50% - 5px) !important;
}
@media only screen and (max-width:768px){
  article {
    display: block;
  }
  article > section {
    overflow: auto;  
    border: 2.5px solid #0000001f;
    width: calc(100% - 5px);
  }
  article > section:first-child {
    padding: 30px 0 10px 0;
    height: calc(60vh - 40px);
    border-bottom: none;
  }
  article > section:last-child {
    padding-top: 100px;
    height: calc(40vh - 107.5px);
  }
  article > section > .user-details {
    margin-top: 20px;
}
}