<article>
  <section>
    <section class="add-user">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>User name</mat-label>
        <input matInput placeholder="Ex. Json">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>User age</mat-label>
        <input matInput placeholder="Ex. 25">
      </mat-form-field>
      <button mat-raised-button color="primary">add</button>
    </section>
    <section class="user-details" *ngIf="selectedUser">
      <p>User Name: <span>{{selectedUser.name}}</span></p>
      <p>User Age: <span>{{selectedUser.age}}</span></p>
    </section>
  </section>
  <section>
    <mat-card class="card"  *ngFor="let user of users" (click)="select(user)" [class.selected]="user === selectedUser">{{user.name}}</mat-card>
  </section>
</article>
