article {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(235, 235, 235);
}
article > section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
}
article > section::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
article > section {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
article > section > .card {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
}
article > section > .add-user {
    display: flex;
    flex-direction: column;
    width: 50%;
}
article > section > .add-user > input {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
}
article > section > .add-user > button {
    margin: 10px 0; 
    padding: 5px;
    border-radius: 5px;
    width: 20%;
    justify-self: flex-end;
}
article > section > .user-details {
    background-color: #f44336;
    color: #fff;
    margin-top: 150px; 
    padding: 0 25px;
    border-radius: 5px;
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article > section > .user-details > p {
    margin: 10px 0;
    font-weight: 500;
}
.selected{
  border-left: 5px solid #ff4081;
}