<article>
  <section>
    <section class="add-user">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>User name</mat-label>
        <input #userName matInput placeholder="Ex. Json">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>User age</mat-label>
        <input type="number" min="18" max="120" #userAge matInput placeholder="Ex. 25">
      </mat-form-field>
      <button *ngIf="!update.status" (click)="addUser()" mat-raised-button color="primary">add</button>
      <button *ngIf="update.status" (click)="editUser()" mat-raised-button color="primary">edit</button>
    </section>
    <section class="user-details animate__animated animate__zoomInDown" *ngIf="selectedUser">
      <p>User Name: <span>{{selectedUser.name}}</span></p>
      <p>User Age: <span>{{selectedUser.age}}</span></p>
    </section>
  </section>
  <section>
    <mat-card class="card"  *ngFor="let user of users" [class.selected]="user === selectedUser">
      <span (click)="select(user)">{{user.name}}</span>
      <span (click)="transferUser(user)" class="fas fa-pencil-alt"></span>
      <span (click)="deleteUser(user.id)" class="fas fa-trash-alt"></span>
    </mat-card>
  </section>
</article>
